{% extends "base_generic.html" %}

{% block navbar %}
<ul class="nav navbar-nav">
  <li><a href="{% url 'dataset_index' %}">Browse Resources</a></li>
  <li class='active'><a href="{% url 'statehouses_index' %}">Demo</a></li>
  <li><a href="/contact">Support</a></li>
</ul>
{% endblock %}

{% block content %}
  <h1>Statehouse Demo</h1>
  <p>These visuals use replication data from <a href='https://dataverse.unc.edu/dataset.xhtml?persistentId=doi:10.15139/S3/3EAPI2'>America's Crowded Statehouses: Measuring the Explaining Lobbying in the American States</a></p>
  {% load static %}
  {% static "" as baseUrl %}
  <p>Click <a href="{{ baseUrl }}statehouses/{{ filename }}" target="_blank">here</a> to view the visuals.</p>
{% endblock %}
