{% extends "base_generic.html" %}

{% block content %}
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Geoverse</h1>
    <p>This proposal offers an outline of a web-based application called Geoverse that displays geographical datasets from the Dataverse. It allows the user to search and browse these datasets and select a given geographical dataset. Once selected, the application processes and codes geographical data, then displays those data in a robust and useful manner.</p>
    <p><a href="{{ statehouses_index }}">View Demo</a></p>
  </div>
{% endblock %}
